body{
  margin:0;
  padding:0;
  font:14px Arial;
  line-height:25px;
  background:#400;
}
h1{
  font:30px Arial;
  line-height:36px;
  color:white;
  margin:0 0 0 -20px;
  padding:20px;
  background:#400;
}
h2{
  font:25px Arial;
  line-height:30px;
  color:#400;
  margin:20px 0 0 0;
  padding:0;
}
p{
  padding:0;
  margin:10px 0;
}
ul{
	list-style-type:circle;
  padding:0 0 0 20px;
  margin:10px 0;
}
ul li{
  padding:0;
  margin:0;
}
a{  
  text-decoration:none;
  color:#068;
  cursor:pointer;
}
a:hover{
  text-decoration:underline;
}
img{
	border:0;
}
#container{
	position:relative;
  width:860px;
  margin:0 auto;
}
#top{
	position:relative;
	height:200px;
	background:#ddd url(./img/piz.jpg) 0 -200px;
	border-bottom:50px solid #ccc;
}
#navi{
	padding:0;
	margin:-50px 0 0 0;
	height:50px;
	background:#ccc;
}
#navi li{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	height:50px;
}
#navi li a{
	float:left;
	padding:5px 20px;
	margin:0;
	font:20px Arial; 
	color:#400; 
	line-height:40px;
	list-style:none;
}
#navi li a:hover, #navi a.curr{
	color:black;
	text-decoration:none;
	background:white;
}
#sidebar{
	padding:20px;
	position:absolute;
	top:70px;
	right:0;
	width:270px;
	background:#ccc;
}
#content{
	padding:20px;
	margin-right:330px;
	background:white;
	padding-bottom:100px;
}
#footer{
	position:absolute;
	bottom:0;
	left:0;
	padding:0 10px;
	margin:0;
	height:50px;
}
#footer li{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	height:50px;
}
#footer li a{
	float:left;
	padding:5px 10px;
	margin:0;
	line-height:40px;
	list-style:none;
}
