<html>
  	<head>
  	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
  	<script src='jquery-1.10.2.min.js'></script>
  	</head>
  	<body>
	<h1>What kind of orders are available?</h1>
	<ol id='availableGroups'>
	</ol>    	
    <script>
		// get groups list
	    	var groupsRef = new Firebase('shareat.firebaseio.com/groups/');
	    	var usersRef = new Firebase('shareat.firebaseio.com/users/');
	    	var ordersRef = new Firebase('shareat.firebaseio.com/ordersByUserAndGroup/');

	    	groupsRef.on('value', function(snapshot) {	
			   		if(snapshot.val() == null) {
			    		alert("No groups :( 111");
				  	} else {
				  		displayGroups(snapshot.val());
				  		var groupList = snapshot.val();
				  		// Deregister form future calls
				  		groupsRef.off('value')
				  	}
			  	});
	    	usersRef.on('value', function(snapshot) {	
			   		if(snapshot.val() == null) {
			    		alert("No users :( 111");
				  	} else {
				  		displayGroups(snapshot.val());
				  		var groupList = snapshot.val();
				  		// Deregister form future calls
				  		groupsRef.off('value')
				  	}
			  	});
	    	// present groups
	    	function displayGroups(list) {
				for (group in list) {
				  	$('#availableGroups').append("<li>" + list[group].groupName + "</li>");
			    };	
			  };
			function displayGroupInfo(list) {
				groupsRef.snapshot;
				for (group in list) {
				  	$('#availableGroups').append("<li>" + list[group].groupName + "</li>");
			    };	
			  };
	   </script>
  </body>
</html>